.banner-shadow{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.number-design{
    color:white;
}
.creativity img{
    transition: .5s;
}
.creativity:hover img{
    transform: scale(1.1);
    transition: .5s;
}
