.shadow{
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
  background-color: white;
}
.experience-before-img{
  width: 100%;
  overflow: hidden;
}
.experience-before-img img{
  width: 80%;
  animation: slidein 8s infinite;
  overflow: hidden;
}
.experiencePart h2{
  font-size: 80px;
  background: -webkit-linear-gradient(rgb(248, 84, 7), rgb(243, 184, 20));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@keyframes slidein {
  from {
    margin-left: -100%;
  }

  to {
    margin-left: 5%;
}
}
